In [2]:
# Pandas is a library which is used for data manipulation and analysis.
import pandas as pd # 'import' has memory consumtion which is compare to 'from' method

In [3]:
# Data Collection 
dataset=pd.read_csv("Salary_Data.csv")

In [4]:
dataset # Visualize the dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
# Split Input and Output
independent = dataset[["YearsExperience"]] # Assigning YearsExperience column as an input and storing in the independent variable

In [6]:
independent # Visualize the independent variable

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
dependent = dataset[["Salary"]] # Assigning Salary column as a output and storing in the dependent variable 
dependent # Visualize the dependent varaiable

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [8]:
# Split train set and test set
from sklearn.model_selection import train_test_split # import the train_test_split function from sklearn.model_selection
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0) #Assigning train set input,test set input, train set output and test set output respect to X_train,X_test,y_train,y_test

In [9]:
# Learning Phase (Model Creation)
from sklearn.linear_model import LinearRegression # import LinearRegression Function from sklearn.linear_model
regressor = LinearRegression() # Assigning LinearRegression function to regressor variable 
regressor.fit(X_train,y_train) # Adjusting its internal parameters so it can map the input features X_train to the target values y_train.

LinearRegression()

In [10]:
weight = regressor.coef_ # Assigning the slope value to the weight variable
weight

array([[9360.26128619]])

In [11]:
bias = regressor.intercept_ # Assigning the intercept value to the bias variable
bias

array([26777.3913412])

In [12]:
# Evaluation
y_pred = regressor.predict(X_test) # Uses the trained regressor model to generate predicted target values (y_pred)

In [13]:
# Evaluation Metrics
from sklearn.metrics import r2_score  # import r2_score function from sklearn.metrics
r_score = r2_score(y_test,y_pred) # Finding the r2_score value and assigning to the r_score variable

In [14]:
r_score # Displaying the r_score to check whether it is near to the value 1. So it will be a good model.

0.9740993407213511

In [15]:
# Save the model
import pickle # Loads the pickle module
filename = "finalized_model_linear.sav" # holding the desired file name (and extension) where the serialized model will be stored or retrieved

In [16]:
pickle.dump(regressor,open(filename,'wb')) # Serializes the trained regressor object and writes it to the file specified by filename in binary mode

In [17]:
# Load the model
loaded_model = pickle.load(open("finalized_model_linear.sav",'rb'))
result = loaded_model.predict([[15]]) # Feeds the single input value 15 to predict the output

In [18]:
result # Display the result

array([[167181.3106341]])